@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap");

body {
	background: var(--background);
	color: white;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	font-family: var(--font-poppins);
}

:root {
	--background: #fffae3;
	--primary: #272d37;
	--text-gray: #adb8c7;

	/* fuente */
	--font-poppins: "Poppins";

	--font-sm: 14px;
}

.header {
	background: var(--primary);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	position: fixed;
	width: 100%;
	height: 65px;
}

.logo {
	height: 120%;
}

.navbar,
.navbar-list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar {
	gap: 10rem;
}

.navbar-list {
	gap: 30px;
}

.navbar-list a {
	color: var(--text-gray);
	font-size: var(--font-sm);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

section {
	max-width: 500px;
}

#hero {
	margin-top: 130px;
	padding: 70px 0;
	max-width: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.hero-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	font-size: var(--font-sm);
	width: 90%;
	color: var(--primary);
}

.hero-card h1 {
	font-size: var(--font-xl);
	font-weight: var(--font-black);
	color: var(--text-white);
}

.hero-info p {
	font-size: var(--font-sm);
	width: 80%;
	color: var(--text-white);
}

.hero-card {
	background: var(--nav-bg);
	padding: 20px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	width: 300px;
}

.btn {
	font-size: var(--font-sm);
	font-weight: var(--font-semibold);
	color: var(--background);
	background-color: var(--primary);
	padding: 8px 20px;
	border-radius: 8px;
}

.discover-info {
	padding: 20px 0px;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	gap: 10px;
	color: var(--primary);
}
